.layout {
  position: relative;
  min-height: 100dvh;
  background: #f8fafc;
  overflow: hidden;
}

.layout-main {
  position: absolute;
  right: 0;
  width: calc(100% - 300px);
  height: 100%;
  overflow: auto;
  background: #f1f5f9;
  /* overflow: hidden; */
}

.layout-main::-webkit-scrollbar {
  /* width: 0px; */
} 

.layout-content {
  position: relative;
  height: calc(100% - 80px);
    /* padding: 32px; */
  /* overflow: auto; */
}


/* Responsive */
@media (max-width: 768px) {
  .layout-main {
    margin-left: 0;
  }

  .layout-content {
    padding: 16px;
  }
}