.copy-formatted-button {
  background: #D9D9D9;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  width: 35px;
  height: 35px;
  color: #000000;
  transition: all 0.2s ease;
  flex-shrink: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 0.3s ease; */
}
.copy-formatted-button span {
  margin-top: 3px;
}
.copy-formatted-button:hover {
  transform: scale(1.04);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
