.sla-page {
  height: 100%;
  position: relative;
}

.sla-content {
  /* height: 100%; */
  height: calc(100% - 70px);
  position: relative;
}

.sla-viewer-section {
  height: 100%;
  position: relative;
  padding: 10px;
}

.sla-header-container {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid #e2e8f0;
}