.whatsapp-button-sla {
    background: linear-gradient(135deg, #61F778 0%, #25CC46 100%);
    color: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    font-size: 14px;
    /* font-weight: 500; */
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  .whatsapp-button span {
    margin-top: 3px;
  }
  .whatsapp-button:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 12px rgba(37, 204, 70, 0.4);
  }
  