.phone-input {
  width: max-content;
  padding: 8px 25px;
  border: none;
  font-size: 14px;
  font-family: inherit;
  background-color: #10b981;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 700;
}

.phone-input:focus {
  outline: none;
  border-color: #25D366;
}

.phone-input:disabled {
  background-color: #f7fafc;
  color: #a0aec0;
  cursor: not-allowed;
}

.phone-input::placeholder {
  color: #ffffff;
}

